{% extends 'base.html' %}
{% block content %}

<h1>Login</h1>

<form action="/login" method="post">
	<div>
	Login E-mail: <input type="email" id="email" name="email"></input>
	</div>
	<div>
	Login Password: <input type="text" id="password" name="password"></input>
	</div>
	<input type="submit" id="login_submit" value="Login!"></input>
</form>

      <!-- {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %} -->

{% endblock %}